{
  "parser": "babel-eslint",
  "extends": ["airbnb", "react-app"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "jsx-a11y/anchor-is-valid": 0
  },
  "globals": {
    "NODE_ENV": true
  },
  "settings": {
    "import/resolver": { "node": { "paths": ["src"] } }
  }
}